<!--
  The turtlebot person follower nodelet.
 -->
<launch>
  <!-- Realsense Person Tracking -->
  <include file="$(find realsense_person)/launch/person_sample.launch">
	<arg name="manager" value="camera_nodelet_manager"/>
  </include>
  
  <!-- Turtlebot Follower -->
  <include file="$(find turtlebot_follower)/launch/follower.launch">
	<arg name="generate_goal" value="false"/>
  </include>
  
  <!-- Realsense Person Center of Mass goal publisher nodelet -->
  <node pkg="nodelet" type="nodelet" name="realsense_person_com"
        args="load realsense_person_turtlebot_follower/RealSensePersonCoM camera/camera_nodelet_manager">
    <remap from="realsense_person_com/goal" to="turtlebot_follower/goal"/>
    <param name="max_z" value="1.6" />
  </node>
  
</launch>
